body{
    background-color:#73c5c2;
    color:rgb(255, 255, 255);
}
ul.ulnav{
    border-radius: 5px;
    list-style-type: none;
    margin:20px;
    padding:0;
    overflow: hidden;
    background-color:rgba(89, 93, 134, 0.514);
}
li.linav{
    float:left;
}
li.linav a{
    display: block;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
span.subtitle{
  font-size: 10px;
  color:rgb(255, 255, 255);
  font-family:Arial, Helvetica, sans-serif;
}
span.maintitle{
  font-size:20px;
  color:rgb(255, 255, 255);
  font-family:Arial, Helvetica, sans-serif;
}
a.nav{
  font-size:15px;
  color:rgb(255, 255, 255);
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
}
a.nav:hover{
  font-size:15px;
  color:rgb(122, 122, 122);
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
}
tr.main{
  background-color: #cacacab7;
  color: white;
}
  h1 {text-align: center;
  }
p {
    border-radius: 5px;
    margin:20px;
    padding:10px 10px;
    overflow: hidden;
    background-color:rgba(128, 128, 128, 0.514);
    text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}
a.test{
  font-size:15px;
  color:rgb(255, 255, 255);
  font-family:Arial, Helvetica, sans-serif;
}
a {text-align: center;
}
.center {
 display: block;
  margin-left: auto;
  margin-right: auto;
}